<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Retrieve data</title>
</head>

<body>
    <h2>Retrieve data from given website</h2>
    <hr>
    <h3>Provide url and chose if to retrieve text, img or both.</h3>
    <div>
        <form action="{{ url_for('api.webpage') }}" id="retrieveForm" method="post">
        <p>
            <label for="url_path">Url path to retrieve data from:</label>
            <input type="url" id="url_path" name="url_path"><br>
        </p>
        <p><input type="checkbox" name="retrieve" value="text"/>Retrieve text</p>
        <p><input type="checkbox" name="retrieve" value="img"/>Retrieve images</p>

        <br>
        <input type="submit" value="Order retrieving">

    </form>
    </div>

    <br>
    <hr>
    <div>
        <a href="{{ url_for('home') }}">
            <button type="button">Back to home page</button>
        </a>
    </div>

    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>
